openapi: 3.0.0
info:
  title: Dio-Task Manager
  contact: {}
  version: '1.0'
servers:
  - url: https://dio-task-manager.com/api/v1
    variables: {}
paths:
  /auth/register:
    post:
      tags:
        - Auth
      summary: Register User
      operationId: RegisterUser
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/RegisterUserRequest'
                - example:
                    name: sunshine
                    email: sunshine@gmail.com
                    password: secret
            example:
              name: sunshine
              email: sunshine@gmail.com
              password: secret
        required: true
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      security: []
  /auth/login:
    post:
      tags:
        - Auth
      summary: Login User
      operationId: LoginUser
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/LoginUserRequest'
                - example:
                    email: ella@gmail.com
                    password: secret
            example:
              email: ella@gmail.com
              password: secret
        required: true
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      security: []
  /task:
    post:
      tags:
        - Tasks
      summary: Create Task
      operationId: CreateTask
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/CreateTaskRequest'
                - example:
                    title: Oath taking
                    description: on friday
            example:
              title: Oath taking
              description: on friday
        required: true
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      security:
        - bearer: []
    get:
      tags:
        - Tasks
      summary: Get All Task
      operationId: GetAllTask
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      security:
        - bearer: []
  /task/{id}:
    parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
        description: The user ID.
    get:
      tags:
        - Tasks
      summary: Get Single Task
      operationId: GetSingleTask
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      security:
        - bearer: []
    patch:
      tags:
        - Tasks
      summary: Update Task
      operationId: UpdateTask
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/UpdateTaskRequest'
                - example:
                    title: Nysc
                    description: on holding because of no statement of result yet
            example:
              title: Nysc
              description: on holding because of no statement of result yet
        required: true
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      security:
        - bearer: []
    delete:
      tags:
        - Tasks
      summary: Delete Task
      operationId: DeleteTask
      parameters: []
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      security:
        - bearer: []
  /token/refresh-token:
    post:
      tags:
        - RefreshToken
      summary: Resfresh Token
      operationId: ResfreshToken
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/ResfreshTokenRequest'
                - example:
                    refresh_token: ''
            example:
              refresh_token: ''
        required: true
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
      security: []
components:
  schemas:
    RegisterUserRequest:
      title: RegisterUserRequest
      required:
        - name
        - email
        - password
      type: object
      properties:
        name:
          type: string
        email:
          type: string
        password:
          type: string
      example:
        name: sunshine
        email: sunshine@gmail.com
        password: secret
    LoginUserRequest:
      title: LoginUserRequest
      required:
        - email
        - password
      type: object
      properties:
        email:
          type: string
        password:
          type: string
      example:
        email: ella@gmail.com
        password: secret
    CreateTaskRequest:
      title: CreateTaskRequest
      required:
        - title
        - description
      type: object
      properties:
        title:
          type: string
        description:
          type: string
      example:
        title: Oath taking
        description: on friday
    UpdateTaskRequest:
      title: UpdateTaskRequest
      required:
        - title
        - description
      type: object
      properties:
        title:
          type: string
        description:
          type: string
      example:
        title: Nysc
        description: on holding because of no statement of result yet
    ResfreshTokenRequest:
      title: ResfreshTokenRequest
      required:
        - refresh_token
      type: object
      properties:
        refresh_token:
          type: string
      example:
        refresh_token: ''
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
security: []
tags:
  - name: Auth
    description: ''
  - name: Tasks
    description: ''
  - name: RefreshToken
    description: ''
